@import "file:///C:/Users/super/ZenithWorld/node_modules/.pnpm/vuepress-theme-hope@2.0.0-r_a74eba27a8e2fbaf215959c317ea33d4/node_modules/vuepress-theme-hope/templates/palette/palette.scss";
@import "file:///C:/Users/super/ZenithWorld/wiki/.vuepress/styles/palette.scss";
@import "file:///C:/Users/super/ZenithWorld/node_modules/.pnpm/vuepress-theme-hope@2.0.0-r_a74eba27a8e2fbaf215959c317ea33d4/node_modules/vuepress-theme-hope/templates/palette/generator.scss";
