@import "file:///C:/Users/super/ZenithWorld/node_modules/.pnpm/vuepress-theme-hope@2.0.0-r_cf92ef6a1c3b98d9a50279eada6f5970/node_modules/vuepress-theme-hope/templates/palette/config.scss";
@import "file:///C:/Users/super/ZenithWorld/wiki/.vuepress/styles/config.scss";
