@import "file:///C:/Users/super/ZenithWorld/node_modules/.pnpm/vuepress-theme-hope@2.0.0-r_35b042b71009b980899dc5d42dfe08fa/node_modules/vuepress-theme-hope/templates/palette/config.scss";
@import "file:///C:/Users/super/ZenithWorld/wiki/.vuepress/styles/config.scss";
