@import "file:///C:/Users/super/ZenithWorld/node_modules/.pnpm/vuepress-theme-hope@2.0.0-r_f4e747f53e9304468df14c1b2bc113d6/node_modules/vuepress-theme-hope/templates/palette/palette.scss";
@import "file:///C:/Users/super/ZenithWorld/wiki/.vuepress/styles/palette.scss";
@import "file:///C:/Users/super/ZenithWorld/node_modules/.pnpm/vuepress-theme-hope@2.0.0-r_f4e747f53e9304468df14c1b2bc113d6/node_modules/vuepress-theme-hope/templates/palette/generator.scss";
