@import "file:///C:/Users/super/ZenithWorld/node_modules/.pnpm/vuepress-theme-hope@2.0.0-r_65007f4417d8def3ccd4fcb0aaadda56/node_modules/vuepress-theme-hope/templates/palette/palette.scss";
@import "file:///C:/Users/super/ZenithWorld/wiki/.vuepress/styles/palette.scss";
@import "file:///C:/Users/super/ZenithWorld/node_modules/.pnpm/vuepress-theme-hope@2.0.0-r_65007f4417d8def3ccd4fcb0aaadda56/node_modules/vuepress-theme-hope/templates/palette/generator.scss";
