@import "file:///C:/Users/super/ZenithWorld/node_modules/.pnpm/vuepress-theme-hope@2.0.0-r_0ee1612373cb275d6129c70fbe683f36/node_modules/vuepress-theme-hope/templates/palette/palette.scss";
@import "file:///C:/Users/super/ZenithWorld/wiki/.vuepress/styles/palette.scss";
@import "file:///C:/Users/super/ZenithWorld/node_modules/.pnpm/vuepress-theme-hope@2.0.0-r_0ee1612373cb275d6129c70fbe683f36/node_modules/vuepress-theme-hope/templates/palette/generator.scss";
